*{
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    /* background-color: wheat;
    color: whitesmoke; */
}

body{
    background-color: wheat;
}

h1, h2{
    color: whitesmoke;
    background-color: pink;
    text-align: center;
    font-size: 100px;
    border-radius: 25px;
    border: 5px solid whitesmoke;
}

h1{
    margin: 0 auto;
    width: 50%;
}
h2 {
    font-size: 50px;
    margin: 25px 10px;    
}

#gameboard{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 1500px;
    height: 950px;
    justify-content: center;
    border: 10px solid white;
    background-color: whitesmoke;
}

.cell{
    display: inline;
    width: 45%;
    height: 900px;
    margin: 10px 5px;
    border: 15px solid white;
}



.box{
    width: 20%;
    height: 100px;
    background-color: #ffc0cb;
    border: 5px solid white;
    margin: 50px 230px 20px 230px;
    padding: 35px 5px;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    text-align: center;
}


.card{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 5px solid whitesmoke; 
    width: 200px;
    min-height: 300px;
    margin: 20px 20px 50px 55px;
    border-radius: 10px;
    position: relative;
}


button{
    border: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button{ 
    list-style: none;
    flex-wrap: wrap;
    color: whitesmoke;
    background-color: pink;
    text-align: center;
    font-size: 50px;
    border-radius: 25px;
    border: 5px solid whitesmoke;
    padding: 50px 5px;
    flex-direction: column;
    width: 35%;
    height: 15%;
    justify-content: center;
    align-content: center;
    margin: 10px 600px;
  
}

.playingCard{
    text-align: center;
    display: inline-block;
    /* background-image: url("Card Template.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    background-color: pink;
    border: 5px solid white;
    border-radius: 25px;
    justify-content: center;
    height: 325px;
    width: 205px;
    /* margin: 30px 15px 0 75px; */
    margin: 30px 15px 0 50px;
    padding: 100px 25px;
    
}

#gameResult, #winnersResult{
    position: relative;
    display: inline-block;
   width: 150px;
   margin: 50px 10px 50px 85px;

}




/* 
#blank{
    display: flex;
    justify-content: center;
    align-items: center;
}

#pCardDisplay, #cCardDisplay{
    font-size: 20px;
    color: black;
    margin: 20px;
}


 .playingCard{
    text-align: center;
    background-image: url("Card\ Template.png");
}


 */





/* li{
    color: whitesmoke;
    background-color: pink;
    font-size: 25px;
    list-style: none;
    text-align: center;
    margin: 10px 5px 5px 10px;
} */

/* #container{
    border: 2px solid whitesmoke;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 5px auto;
    height: 75%;
}

.player-wrapper{
    display: flex;
    justify-content: center;
}

.scorebox {
    width: 125px;
    height: 125px;
    margin: 50px;
    border: 3px solid gray;
    background-color: whitesmoke;
}

#playersScorebox, #computersScorebox {
    display: flex;
    justify-content: center;
    text-align: center;
}

.text{
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
    margin: 10px 0;
}

.container {
    display: inline-block;
    justify-self: center;
    width: 45%;
    height: 500px;
    border: 5px solid whitesmoke;
    margin: 0 20px 0 20px;
} */ 
